<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mysprb.mysprb.mappers.EmployeeMapper">

    <insert id="insertEmp" parameterType="com.mysprb.mysprb.bean.Employee" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        employee(
        lastName, email, gender, d_id
        )
        VALUE
        (#{lastName}, #{email}, #{gender}, #{dId})
    </insert>

    <select id="getEmpById" resultType="com.mysprb.mysprb.bean.Employee">
        SELECT * FROM employee WHERE id = #{id}
    </select>

    <update id="updateEmp" parameterType="com.mysprb.mysprb.bean.Employee">
        UPDATE employee
        <set>
            <if test="lastName != null">
                lastName = #{lastName},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="gender != 0">
                gender = #{gender},
            </if>
            <if test="dId != 0">
                d_id = #{dId},
            </if>
        </set>
        WHERE  id = #{id}
    </update>


    <delete id="deleteEmpById" parameterType="int">
        delete from employee
        where id = #{id}
    </delete>

</mapper>